@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
}

.signup-form {
  align-items: center;
}
