.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 40px auto 0 auto;
  border-radius: 18px 18px 0 0;
  background-color: #ffcf3630;
  min-height: 500px;
}

.profile-image {
  border: solid 3px;
  border-color: #ffcf36;
  padding: 15px;
  max-height: 300px;
}

.desc {
  margin-left: 100px;
  max-width: 200px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
